body { 
    font-family: "Verdana","Helvetica","Arial", sans-serif!important;
    font-size: 62.5%;
    line-height: 1.6;
    background: #f2f2f2;
}

#content {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: block;
    padding-top: 2px;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
    background-color: #FFFFFF;
}

div {
    display: block;
}

.headerPrincipal {
    height: 150px;
    background: url(../images/banner.png) no-repeat;
    margin-bottom: 15px;
}

#forecast {
    overflow: hidden;
    background: url(../images/cabecera.jpg) no-repeat;
    height: 43px;
    margin-bottom: 5px;
    border-bottom: 2px solid #C2CE73;
}

h1 {
    position:relative;
    bottom: 10px;
    padding-left: 100px;
    color: #474D17;
    font-size: 2.5em;
    font-weight: 400;
}

h2 {
    float: left;
    clear: left;
    display: block;
    width: 99%;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-size: 1.3em;
    font-weight: 700;
    text-align: left;
    border: 2px dashed #9F9F9F;
    background-color: #F2F2F2;
    padding: 0 0 0 8px;
    margin-bottom: 10px;
    color: #29446F;
}

h3 {
    font-size: 0.95em;
    font-weight: bold;
}

h4 {
    float: left;
    clear: left;
    display: block;
    width: 99.5%;
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #29446F;
}

main {
    display: block;
    float: left;
    width: 77%;
    margin-left: 25px;
}

aside {
    width: 20%;
    float: left;
    display: block;
}

.anotherCouncil {
    margin-top: 15px;
    margin-bottom: 0px;
}

section {
    display: block;
}

ul {
    list-style-type:circle;
}

li {
    font-weight: bold;
    margin-left: -15px;
    margin-bottom: 5px;
    padding-left: 5px;
    float: left;
    clear: left;
}

a {
    color: #796A0E;
    text-decoration: none;
    border: none;
}

a:hover {
    color: #F90
}

form {
    float: left;
    clear: left;
    width: 100%;
}

.radioCorunaOurense {
    margin-left: 5px;
    display: inline-block;
    width: 47%;
}

.radioPontevedraLugo {
    display: inline-block;
    width: 47%;
}

label {
    vertical-align: top;
    margin-left: 2px;
}

select {
    height: 25px;
    width: 80%;
}

#chooser {
    margin-top: 20px;
}

.box {
    float: left;
    width: 100%;
    border: 1px solid #E0E6EF;
    border-bottom: 3px solid #5f5f5f;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 7px;
    padding-bottom: 25px;
}

table {
    display: table;
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 2px;
    background-color: #FFFFFF;
}

td, th {
    display: table-cell;
    vertical-align: middle;
    background-color: #F6F6F6;
    height: 26px;
}

tbody td {
    background: url("../images/patronGris.png") repeat-x scroll center bottom rgba(240, 240, 240, 0.6);
}

.title {
    background-color: #FFFFFF;
    text-align: left;
    font-weight: normal;
    width: 10%;
}

.dayHeader {    
    color: #545351;
    font-weight: bold;
    padding-bottom: 5px;
    background-color: #EEECF9;
}

.periodHeader {
    color: #545351;
    font-weight: bold;
    background: url("../images/patronVerde_mediano.png") repeat-x scroll center bottom rgba(240, 240, 240, 0.6);
}

.tempLabels {
    background: rgba(240, 240, 240, 0.6);
    color: #545351;
    font-weight: bold;
    height: 16px;
    padding-top: 5px;
}

.min_label {
    display: inline;
    margin: auto;
    margin-right: 4px;
    width: 50%;
}
.max_label {
    display: inline;
    margin: auto;
    width: 50%;
}

.min_temp {
    display: inline;
    width: 50%;
    margin: auto;
    margin-right: 4px;
    padding: 5px;
    color: black;
}
.max_temp {
    display: inline;
    width: 50%;
    margin: auto;
    padding: 5px;
    color: black;
}

#comment {
    padding: 5px 5px 5px 5px;
    text-align: justify;
}

.divNote { 
    display: block;
    padding-right: 9px;
    margin-top: 5px;
}

.dataSource_title {
    position: relative;
    top: -5px;
    margin-left: 5px; 
    color: #5B5351;
    font-size: 10px;
}

.dataSource_text {
    position: relative;
    top: -5px;
    color: #7B7F00;
    text-align: justify;
    font-size: 10px;
}

footer {
    clear: both;
    width: 100%;
    border-top: 1px solid #A3AF50;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 200px;
    text-align: left;
    background: #666;
    border-bottom: 1px solid #666;
    overflow: hidden;
    font-size: 1em;
    vertical-align: middle;
}

.contact {
    margin-left: 200px;
}

.mail {
    margin-left: 1px;
    color: #fff;
}