.m12{background:#0010DE;color:#FFFFFF;}
.m11{background:#0D1FFF;color:#FFFFFF;}
.m10{background:#2f40ff;color:#FFFFFF;}
.m9{background:#2f53ff;color:#FFFFFF;}
.m8{background:#2f67ff;color:#FFFFFF;}
.m7{background:#2f7bff;color:#FFFFFF;}
.m6{background:#2f8eff;color:#FFFFFF;}
.m5{background:#2fa2ff;color:#FFFFFF;}
.m4{background:#2fb5ff;color:#000000;}
.m3{background:#2fc9ff;color:#000000;}
.m2{background:#2fdcff;color:#000000;}
.m1{background:#2ff0ff;color:#000000;}
.t0{background:#2ffffb;color:#000000;}
.t1{background:#2fffe7;color:#000000;}
.t2{background:#2fffd4;color:#000000;}
.t3{background:#2fffc0;color:#000000;}
.t4{background:#2fffad;color:#000000;}
.t5{background:#2fff99;color:#000000;}
.t6{background:#6fffab;color:#000000;}
.t7{background:#6fff9e;color:#000000;}
.t8{background:#6fff90;color:#000000;}
.t9{background:#6fff82;color:#000000;}
.t10{background:#6fff75;color:#000000;}
.t11{background:#77ff6f;color:#000000;}
.t12{background:#84ff6f;color:#000000;}
.t13{background:#92ff6f;color:#000000;}
.t14{background:#9fff6f;color:#000000;}
.t15{background:#adff6f;color:#000000;}
.t16{background:#baff6f;color:#000000;}
.t17{background:#c8ff6f;color:#000000;}
.t18{background:#d5ff6f;color:#000000;}
.t19{background:#e3ff6f;color:#000000;}
.t20{background:#eaff2f;color:#000000;}
.t21{background:#fdff2f;color:#000000;}
.t22{background:#ffed2f;color:#000000;}
.t23{background:#ffda2f;color:#000000;}
.t24{background:#ffc62f;color:#000000;}
.t25{background:#ffb32f;color:#000000;}
.t26{background:#ff9f2f;color:#000000;}
.t27{background:#ff8c2f;color:#000000;}
.t28{background:#ff782f;color:#000000;}
.t29{background:#ff652f;color:#000000;}
.t30{background:#ff512f;color:#000000;}
.t31{background:#ff3e2f;color:#FFFFFF;}
.t32{background:#ff2f2f;color:#FFFFFF;}
.t33{background:#ff2f2f;color:#FFFFFF;}
.t34{background:#ff2f1f;color:#FFFFFF;}
.t35{background:#ff200f;color:#FFFFFF;}
.t36{background:#ff1200;color:#FFFFFF;}
.t37{background:#ff0f19;color:#FFFFFF;}
.t38{background:#ff000a;color:#FFFFFF;}
.t39{background:#f00;color:#FFFFFF;}
.t40{background:#f00;color:#FFFFFF;}
.t41{background:#f00;color:#FFFFFF;}
.t42{background:#f00;color:#FFFFFF;}
.t43{background:#f00;color:#FFFFFF;}
.t44{background:#f00;color:#FFFFFF;}
.t45{background:#f00;color:#FFFFFF;}
